// Background color gradient
$bgColor: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);

// Colors
$white: #fff;
$main-color: #FFEFEF;
$dark: #313434;

// Media breakpoints
$medium-screen: 530px;
$small-screen: 450px;
$extra-small-screen: 350px;
$max-height: 815px;
